.Image {
    position:absolute;
	top: 20px;
	right:20px;
}

body {
    margin: 10px;
}

nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
}

nav li{
	display: table-cell;
	min-width: 50px;
}

nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #555;
	padding-bottom: 5px;
}

nav li.current{
	border-bottom: 3px solid #3E5922;
}

nav li:hover{
	color: #cc6d3d;
	border-bottom: 3px solid #cc6d3d;
}
